[Unit]
Description=VLN API

[Service]
Type=simple
Restart=always
Environment="RUST_LOG=warn"
Environment="LD_LIBRARY_PATH=/valiu/plugins"
ExecStart=/valiu/valor -p /valiu/plugins.json
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=app_vln_api

[Install]
WantedBy=multi-user.target

